.sectionSubHome {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--white);

    margin-top: 7rem;
}

.sectionSubHome > img {
    width: 30.43rem;
    height: 28.56rem;

    box-shadow: -3.125rem -3.125rem var(--gray-600);
}

.subHomeTexts {
    width: 33.125rem;
    padding: 1.5rem 2rem;
    background-color: var(--gray-600);
    color: var(--white);

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.subHomeContainerCotent {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.subHomeContainerCotent > a {
    color: var(--gray-600);
    font-weight: 500;
}

@media (max-width: 739px) {
    .sectionSubHome > img {
        display: none;
    }

    .sectionSubHome a {
        font-size: 1.2rem;
    }

    .subHomeContainerCotent {
        display: flex;
        align-items: center;
    }

    .subHomeContainerCotent h2 {
        font-size: 2.5rem;
    }

    .subHomeContainerCotent p {
        font-size: 1.2rem;
        font-weight: 500;
    }

}